<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
       <h1>{{message}}</h1>
       <p>{{TOUPPER content}}</p>
       <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sequi expedita a ducimus ratione modi rem est possimus quod laborum nam quos fugiat molestiae neque optio, amet obcaecati. Eligendi, quia.</h4> 
       {{> footer}} 
</body>
</html>